src/view/index.pug
extends include/main

block variables
  - let title = 'POLYPLATA'
  - let description = 'Into the new world of progressive agriculture and forward-thinking veterinary'
  - let page = 'index'
  -
    let regions = [
      { url: '#east-asia', title: 'East Asia', current: true },
      { url: '#south-east-asia', title: 'South East Asia' },
      { url: '#central-asia', title: 'Central Asia' },
      { url: '#the-middle-east', title: 'the Middle East' },
      { url: '#eastern-europe', title: 'Eastern Europe' },
      { url: '#africa', title: 'Africa' },
      { url: '#latin-america', title: 'Latin America' }
    ]

block content
  section#index
    .container
      .index.content
        .index__image
          picture
            source(srcset='/image/bg/header-balls-m.png 1x, /image/bg/header-balls-m@2x.png 2x' media='(max-width: 767px)' type='image/png')
            img(src='/image/bg/header-balls.png' srcset='/image/bg/header-balls@2x.png 2x' loading='eager' alt='image')
        .index-logo
          span POLY
          span
            | PLATA
            sup &reg;
        .index__lead.object-wrapper
          h1.object Into the new world of&nbsp;progressive&nbsp;agriculture and&nbsp;forward-thinking veterinary
        .index__info.object-wrapper
          p.object
            | Innovative plant protection, plant nutrition and&nbsp;veterinary products promoted 
            a.scroll-to(href='#countries-info' title='View all countries') in 30 countries
            |  around the world
      .products.content
        .products__title
          h2 Products
        ul.products-list.object-wrapper
          li.products-list__item.object
            a(href='#' title='Colloidal silver based biostimulators, fertilizers and pesticides')
              .products-list__image
                img.products-list__image--leaves(src='/image/leaves.svg' alt='image')
                img.products-list__image--argentum(src='/image/argentum.svg' alt='image')
              .products-list__link
                | Colloidal silver based biostimulators, fertilizers and&nbsp;pesticides
                svg
                  use(href='/image/icon/arrow.svg#arrow')
          li.products-list__item.object
            a(href='#' title='Colloidal silver based veterinary products')
              .products-list__image
                img.products-list__image--medicine-chest(src='/image/medicine-chest.svg' alt='image')
                img.products-list__image--argentum(src='/image/argentum.svg' alt='image')
              .products-list__link
                | Colloidal silver based veterinary&nbsp;products
                svg
                  use(href='/image/icon/arrow.svg#arrow')
  section#about
    .container
      .about.content
        .about__title
          h2 About us
        ul.about-list.object-wrapper
          li.about-list__item.object
            .about-list__icon
              img(src='/image/icon/patent.svg' alt='icon')
            .about-list__text
              p Colloidal silver treatment technology developed by our team is currently patented in more than 20 countries, including USA, EU, China, Japan, South Korea, Chile and others.
          li.about-list__item.object
            .about-list__icon
              img(src='/image/icon/global-network.svg' alt='icon')
            .about-list__text
              p The products' formula is constantly modified and adapted for new markets with the assistance of the leading research centers of South Korea, Chile, Mexico and other countries.
          li.about-list__item.object
            .about-list__icon
              img(src='/image/icon/molecules.svg' alt='icon')
            .about-list__text
              p Unique active ingredient for plant protection and veterinary products – chemically modified colloidal silver – was registered for the first time ever in the world by the members of our team in 2014.
          li.about-list__item.object
            .about-list__icon
              img(src='/image/icon/copyright.svg' alt='icon')
            .about-list__text
              p As the pioneers in chemically modified colloidal silver treatment, we offer the best quality and full support during application of our products.
  #countries
    .container
      .countries.content#countries-info.object-wrapper
        .countries__info.object
          | Colloidal silver based plant protection and&nbsp;veterinary products are currently promoted in&nbsp;
          span 30
          |  countries under&nbsp;
          span 25
          |  trade names
  section#region-info
    .container
      .region-info.content
        .region-info__text
          p Please choose a region for&nbsp;further&nbsp;information:
        nav.region-info-filter
          ul
            each region in regions
              li(class=(region.current === true ? 'current' : undefined))
                a.open-tab(href=region.url title=region.title) #{ region.title }
        ul.region-info-tabs
          li.region-info-tabs__item.open#east-asia
            .region-info-tabs__image
              img(src='/image/maps/east-asia.png' srcset='/image/maps/east-asia@2x.png 2x' loading='eager' alt='image')
            .region-info-tabs__desc
              .region-info-tabs__title
                h5 Products on sale
              ul.region-info-tabs-table
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/south-korea.svg' alt='icon')
                    p South Korea
                  .region-info-tabs-table__products
                    p
                      span 1
                      | plant protection / plant&nbsp;nutrition product
              .region-info-tabs__title.region-info-tabs__title--pink
                h5 Trials
              .region-info-tabs__trials
                p China
          li.region-info-tabs__item#south-east-asia
            .region-info-tabs__image
              img(src='/image/maps/south-east-asia.png' srcset='/image/maps/south-east-asia@2x.png 2x' loading='lazy' alt='image')
            .region-info-tabs__desc
              .region-info-tabs__title.region-info-tabs__title--pink
                h5 Trials
              .region-info-tabs__trials
                p Vietnam, Laos
          li.region-info-tabs__item#central-asia
            .region-info-tabs__image
              img(src='/image/maps/central-asia.png' srcset='/image/maps/central-asia@2x.png 2x' loading='lazy' alt='image')
            .region-info-tabs__desc
              .region-info-tabs__title
                h5 Products on sale
              ul.region-info-tabs-table
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/kazakhstan.svg' alt='icon')
                    p Kazakhstan
                  .region-info-tabs-table__products
                    p
                      span 1
                      | plant protection / plant&nbsp;nutrition product
                    p
                      span 1
                      | veterinary product
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/uzbekistan.svg' alt='icon')
                    p Uzbekistan
                  .region-info-tabs-table__products
                    p
                      span 2
                      | plant protection / plant&nbsp;nutrition products
          li.region-info-tabs__item#the-middle-east
            .region-info-tabs__image
              img(src='/image/maps/the-middle-east.png' srcset='/image/maps/the-middle-east@2x.png 2x' loading='lazy' alt='image')
            .region-info-tabs__desc
              .region-info-tabs__title
                h5 Products on sale
              ul.region-info-tabs-table
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/turkey.svg' alt='icon')
                    p Turkey
                  .region-info-tabs-table__products
                    p
                      span 2
                      | plant protection / plant&nbsp;nutrition products
              .region-info-tabs__title.region-info-tabs__title--pink
                h5 Trials
              .region-info-tabs__trials
                p Iraq, Syria, Azerbaijan
          li.region-info-tabs__item#eastern-europe
            .region-info-tabs__image
              img(src='/image/maps/eastern-europe.png' srcset='/image/maps/eastern-europe@2x.png 2x' loading='lazy' alt='image')
            .region-info-tabs__desc
              .region-info-tabs__title
                h5 Products on sale
              ul.region-info-tabs-table
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/russia.svg' alt='icon')
                    p Russia
                  .region-info-tabs-table__products
                    p
                      span 15
                      | plant protection / plant&nbsp;nutrition products
                    p
                      span 2
                      | veterinary products
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/belarus.svg' alt='icon')
                    p Belarus
                  .region-info-tabs-table__products
                    p
                      span 2
                      | veterinary products
              .region-info-tabs__title.region-info-tabs__title--pink
                h5 Trials
              .region-info-tabs__trials
                p Moldova
          li.region-info-tabs__item#africa
            .region-info-tabs__image
              img(src='/image/maps/africa.png' srcset='/image/maps/africa@2x.png 2x' loading='lazy' alt='image')
            .region-info-tabs__desc
              .region-info-tabs__title.region-info-tabs__title--pink
                h5 Trials
              .region-info-tabs__trials
                p Mozambique, Uganda, Gambia, Angola
          li.region-info-tabs__item#latin-america
            .region-info-tabs__image
              img(src='/image/maps/latin-america.png' srcset='/image/maps/latin-america@2x.png 2x' loading='lazy' alt='image')
            .region-info-tabs__desc
              .region-info-tabs__title
                h5 Products on sale
              ul.region-info-tabs-table
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/brazil.svg' alt='icon')
                    p Brazil
                  .region-info-tabs-table__products
                    p
                      span 1
                      | plant protection / plant&nbsp;nutrition product
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/venezuela.svg' alt='icon')
                    p Venezuela
                  .region-info-tabs-table__products
                    p
                      span 1
                      | plant protection / plant&nbsp;nutrition product
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/chile.svg' alt='icon')
                    p Chile
                  .region-info-tabs-table__products
                    p
                      span 1
                      | plant protection / plant&nbsp;nutrition product
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/peru.svg' alt='icon')
                    p Peru
                  .region-info-tabs-table__products
                    p
                      span 1
                      | plant protection / plant&nbsp;nutrition product
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/ecuador.svg' alt='icon')
                    p Ecuador
                  .region-info-tabs-table__products
                    p
                      span 7
                      | plant protection / plant&nbsp;nutrition products
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/panama.svg' alt='icon')
                    p Panama
                  .region-info-tabs-table__products
                    p
                      span 1
                      | plant protection / plant&nbsp;nutrition product
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/nicaragua.svg' alt='icon')
                    p Nicaragua
                  .region-info-tabs-table__products
                    p
                      span 1
                      | plant protection / plant&nbsp;nutrition product
                li.region-info-tabs-table__line
                  .region-info-tabs-table__country
                    img(src='/image/icon/flags/honduras.svg' alt='icon')
                    p Honduras
                  .region-info-tabs-table__products
                    p
                      span 1
                      | plant protection / plant&nbsp;nutrition product
              .region-info-tabs__title.region-info-tabs__title--pink
                h5 Trials
              .region-info-tabs__trials
                p Argentina, Bolivia, Colombia, Costa Rica, El Salvador, Mexico
      .contacts.content
        .contacts__title
          h2 Contact us
        .contacts__text
          p
            | Please contact us for partnership and business opportunities at 
            a(href='mailto:mail@polyplata.com' title='Send email') mail@polyplata.com
        .contacts__image
          picture
            source(srcset='/image/bg/footer-balls-m.png 1x, /image/bg/footer-balls-m@2x.png 2x' media='(max-width: 767px)' type='image/png')
            img(src='/image/bg/footer-balls.png' srcset='/image/bg/footer-balls@2x.png 2x' loading='lazy' alt='image')

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>POLYPLATA</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Into the new world of progressive agriculture and forward-thinking veterinary">
    <meta name="author" content="Ilya Lynd <ilya.lynd@gmail.com>">
    <meta name="theme-color" content="#00735e">
    <!-- icon & css-->
    <link href="/favicon.svg" rel="icon">
    <link href="/mask-icon.svg" rel="mask-icon" color="#00735e">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/main.css?v=58cfb5c" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <nav class="header-languages">
        <ul>
          <li class="current"><a href="#" title="En">En</a></li>
          <li><a href="#" title="Es">Es</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
      <main>
        <section id="index">
          <div class="container">
            <div class="index content">
              <div class="index__image">
                <picture>
                  <source srcset="/image/bg/header-balls-m.png 1x, /image/bg/header-balls-m@2x.png 2x" media="(max-width: 767px)" type="image/png"><img src="/image/bg/header-balls.png" srcset="/image/bg/header-balls@2x.png 2x" loading="eager" alt="image">
                </picture>
              </div>
              <div class="index-logo"><span>POLY</span><span>PLATA<sup>&reg;</sup></span></div>
              <div class="index__lead object-wrapper">
                <h1 class="object">Into the new world of&nbsp;progressive&nbsp;agriculture and&nbsp;forward-thinking veterinary</h1>
              </div>
              <div class="index__info object-wrapper">
                <p class="object">Innovative plant protection, plant nutrition and&nbsp;veterinary products promoted <a class="scroll-to" href="#countries-info" title="View all countries">in 30 countries</a> around the world</p>
              </div>
            </div>
            <div class="products content">
              <div class="products__title">
                <h2>Products</h2>
              </div>
              <ul class="products-list object-wrapper">
                <li class="products-list__item object"><a href="#" title="Colloidal silver based biostimulators, fertilizers and pesticides">
                    <div class="products-list__image"><img class="products-list__image--leaves" src="/image/leaves.svg" alt="image"><img class="products-list__image--argentum" src="/image/argentum.svg" alt="image"></div>
                    <div class="products-list__link">Colloidal silver based biostimulators, fertilizers and&nbsp;pesticides
                      <svg>
                        <use href="/image/icon/arrow.svg#arrow"></use>
                      </svg>
                    </div></a></li>
                <li class="products-list__item object"><a href="#" title="Colloidal silver based veterinary products">
                    <div class="products-list__image"><img class="products-list__image--medicine-chest" src="/image/medicine-chest.svg" alt="image"><img class="products-list__image--argentum" src="/image/argentum.svg" alt="image"></div>
                    <div class="products-list__link">Colloidal silver based veterinary&nbsp;products
                      <svg>
                        <use href="/image/icon/arrow.svg#arrow"></use>
                      </svg>
                    </div></a></li>
              </ul>
            </div>
          </div>
        </section>
        <section id="about">
          <div class="container">
            <div class="about content">
              <div class="about__title">
                <h2>About us</h2>
              </div>
              <ul class="about-list object-wrapper">
                <li class="about-list__item object">
                  <div class="about-list__icon"><img src="/image/icon/patent.svg" alt="icon"></div>
                  <div class="about-list__text">
                    <p>Colloidal silver treatment technology developed by our team is currently patented in more than 20 countries, including USA, EU, China, Japan, South Korea, Chile and others.</p>
                  </div>
                </li>
                <li class="about-list__item object">
                  <div class="about-list__icon"><img src="/image/icon/global-network.svg" alt="icon"></div>
                  <div class="about-list__text">
                    <p>The products' formula is constantly modified and adapted for new markets with the assistance of the leading research centers of South Korea, Chile, Mexico and other countries.</p>
                  </div>
                </li>
                <li class="about-list__item object">
                  <div class="about-list__icon"><img src="/image/icon/molecules.svg" alt="icon"></div>
                  <div class="about-list__text">
                    <p>Unique active ingredient for plant protection and veterinary products – chemically modified colloidal silver – was registered for the first time ever in the world by the members of our team in 2014.</p>
                  </div>
                </li>
                <li class="about-list__item object">
                  <div class="about-list__icon"><img src="/image/icon/copyright.svg" alt="icon"></div>
                  <div class="about-list__text">
                    <p>As the pioneers in chemically modified colloidal silver treatment, we offer the best quality and full support during application of our products.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <div id="countries">
          <div class="container">
            <div class="countries content object-wrapper" id="countries-info">
              <div class="countries__info object">Colloidal silver based plant protection and&nbsp;veterinary products are currently promoted in&nbsp;<span>30</span> countries under&nbsp;<span>25</span> trade names</div>
            </div>
          </div>
        </div>
        <section id="region-info">
          <div class="container">
            <div class="region-info content">
              <div class="region-info__text">
                <p>Please choose a region for&nbsp;further&nbsp;information:</p>
              </div>
              <nav class="region-info-filter">
                <ul>
                  <li class="current"><a class="open-tab" href="#east-asia" title="East Asia">East Asia</a></li>
                  <li><a class="open-tab" href="#south-east-asia" title="South East Asia">South East Asia</a></li>
                  <li><a class="open-tab" href="#central-asia" title="Central Asia">Central Asia</a></li>
                  <li><a class="open-tab" href="#the-middle-east" title="the Middle East">the Middle East</a></li>
                  <li><a class="open-tab" href="#eastern-europe" title="Eastern Europe">Eastern Europe</a></li>
                  <li><a class="open-tab" href="#africa" title="Africa">Africa</a></li>
                  <li><a class="open-tab" href="#latin-america" title="Latin America">Latin America</a></li>
                </ul>
              </nav>
              <ul class="region-info-tabs">
                <li class="region-info-tabs__item open" id="east-asia">
                  <div class="region-info-tabs__image"><img src="/image/maps/east-asia.png" srcset="/image/maps/east-asia@2x.png 2x" loading="eager" alt="image"></div>
                  <div class="region-info-tabs__desc">
                    <div class="region-info-tabs__title">
                      <h5>Products on sale</h5>
                    </div>
                    <ul class="region-info-tabs-table">
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/south-korea.svg" alt="icon">
                          <p>South Korea</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>1</span>plant protection / plant&nbsp;nutrition product</p>
                        </div>
                      </li>
                    </ul>
                    <div class="region-info-tabs__title region-info-tabs__title--pink">
                      <h5>Trials</h5>
                    </div>
                    <div class="region-info-tabs__trials">
                      <p>China</p>
                    </div>
                  </div>
                </li>
                <li class="region-info-tabs__item" id="south-east-asia">
                  <div class="region-info-tabs__image"><img src="/image/maps/south-east-asia.png" srcset="/image/maps/south-east-asia@2x.png 2x" loading="lazy" alt="image"></div>
                  <div class="region-info-tabs__desc">
                    <div class="region-info-tabs__title region-info-tabs__title--pink">
                      <h5>Trials</h5>
                    </div>
                    <div class="region-info-tabs__trials">
                      <p>Vietnam, Laos</p>
                    </div>
                  </div>
                </li>
                <li class="region-info-tabs__item" id="central-asia">
                  <div class="region-info-tabs__image"><img src="/image/maps/central-asia.png" srcset="/image/maps/central-asia@2x.png 2x" loading="lazy" alt="image"></div>
                  <div class="region-info-tabs__desc">
                    <div class="region-info-tabs__title">
                      <h5>Products on sale</h5>
                    </div>
                    <ul class="region-info-tabs-table">
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/kazakhstan.svg" alt="icon">
                          <p>Kazakhstan</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>1</span>plant protection / plant&nbsp;nutrition product</p>
                          <p><span>1</span>veterinary product</p>
                        </div>
                      </li>
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/uzbekistan.svg" alt="icon">
                          <p>Uzbekistan</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>2</span>plant protection / plant&nbsp;nutrition products</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="region-info-tabs__item" id="the-middle-east">
                  <div class="region-info-tabs__image"><img src="/image/maps/the-middle-east.png" srcset="/image/maps/the-middle-east@2x.png 2x" loading="lazy" alt="image"></div>
                  <div class="region-info-tabs__desc">
                    <div class="region-info-tabs__title">
                      <h5>Products on sale</h5>
                    </div>
                    <ul class="region-info-tabs-table">
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/turkey.svg" alt="icon">
                          <p>Turkey</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>2</span>plant protection / plant&nbsp;nutrition products</p>
                        </div>
                      </li>
                    </ul>
                    <div class="region-info-tabs__title region-info-tabs__title--pink">
                      <h5>Trials</h5>
                    </div>
                    <div class="region-info-tabs__trials">
                      <p>Iraq, Syria, Azerbaijan</p>
                    </div>
                  </div>
                </li>
                <li class="region-info-tabs__item" id="eastern-europe">
                  <div class="region-info-tabs__image"><img src="/image/maps/eastern-europe.png" srcset="/image/maps/eastern-europe@2x.png 2x" loading="lazy" alt="image"></div>
                  <div class="region-info-tabs__desc">
                    <div class="region-info-tabs__title">
                      <h5>Products on sale</h5>
                    </div>
                    <ul class="region-info-tabs-table">
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/russia.svg" alt="icon">
                          <p>Russia</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>15</span>plant protection / plant&nbsp;nutrition products</p>
                          <p><span>2</span>veterinary products</p>
                        </div>
                      </li>
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/belarus.svg" alt="icon">
                          <p>Belarus</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>2</span>veterinary products</p>
                        </div>
                      </li>
                    </ul>
                    <div class="region-info-tabs__title region-info-tabs__title--pink">
                      <h5>Trials</h5>
                    </div>
                    <div class="region-info-tabs__trials">
                      <p>Moldova</p>
                    </div>
                  </div>
                </li>
                <li class="region-info-tabs__item" id="africa">
                  <div class="region-info-tabs__image"><img src="/image/maps/africa.png" srcset="/image/maps/africa@2x.png 2x" loading="lazy" alt="image"></div>
                  <div class="region-info-tabs__desc">
                    <div class="region-info-tabs__title region-info-tabs__title--pink">
                      <h5>Trials</h5>
                    </div>
                    <div class="region-info-tabs__trials">
                      <p>Mozambique, Uganda, Gambia, Angola</p>
                    </div>
                  </div>
                </li>
                <li class="region-info-tabs__item" id="latin-america">
                  <div class="region-info-tabs__image"><img src="/image/maps/latin-america.png" srcset="/image/maps/latin-america@2x.png 2x" loading="lazy" alt="image"></div>
                  <div class="region-info-tabs__desc">
                    <div class="region-info-tabs__title">
                      <h5>Products on sale</h5>
                    </div>
                    <ul class="region-info-tabs-table">
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/brazil.svg" alt="icon">
                          <p>Brazil</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>1</span>plant protection / plant&nbsp;nutrition product</p>
                        </div>
                      </li>
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/venezuela.svg" alt="icon">
                          <p>Venezuela</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>1</span>plant protection / plant&nbsp;nutrition product</p>
                        </div>
                      </li>
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/chile.svg" alt="icon">
                          <p>Chile</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>1</span>plant protection / plant&nbsp;nutrition product</p>
                        </div>
                      </li>
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/peru.svg" alt="icon">
                          <p>Peru</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>1</span>plant protection / plant&nbsp;nutrition product</p>
                        </div>
                      </li>
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/ecuador.svg" alt="icon">
                          <p>Ecuador</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>7</span>plant protection / plant&nbsp;nutrition products</p>
                        </div>
                      </li>
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/panama.svg" alt="icon">
                          <p>Panama</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>1</span>plant protection / plant&nbsp;nutrition product</p>
                        </div>
                      </li>
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/nicaragua.svg" alt="icon">
                          <p>Nicaragua</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>1</span>plant protection / plant&nbsp;nutrition product</p>
                        </div>
                      </li>
                      <li class="region-info-tabs-table__line">
                        <div class="region-info-tabs-table__country"><img src="/image/icon/flags/honduras.svg" alt="icon">
                          <p>Honduras</p>
                        </div>
                        <div class="region-info-tabs-table__products">
                          <p><span>1</span>plant protection / plant&nbsp;nutrition product</p>
                        </div>
                      </li>
                    </ul>
                    <div class="region-info-tabs__title region-info-tabs__title--pink">
                      <h5>Trials</h5>
                    </div>
                    <div class="region-info-tabs__trials">
                      <p>Argentina, Bolivia, Colombia, Costa Rica, El Salvador, Mexico</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="contacts content">
              <div class="contacts__title">
                <h2>Contact us</h2>
              </div>
              <div class="contacts__text">
                <p>Please contact us for partnership and business opportunities at <a href="mailto:mail@polyplata.com" title="Send email">mail@polyplata.com</a></p>
              </div>
              <div class="contacts__image">
                <picture>
                  <source srcset="/image/bg/footer-balls-m.png 1x, /image/bg/footer-balls-m@2x.png 2x" media="(max-width: 767px)" type="image/png"><img src="/image/bg/footer-balls.png" srcset="/image/bg/footer-balls@2x.png 2x" loading="lazy" alt="image">
                </picture>
              </div>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer-brand">
        <div class="footer-brand__image"><img class="footer-brand__image--haebaragi" src="/image/haebaragi.svg" alt="image"></div>
        <div class="footer-brand__image"><img class="footer-brand__image--horangi" src="/image/horangi.svg" alt="image"></div>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2022 All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/main.js?v=e39b96f"></script></body>
</html>
